extends shared/layout

block content

    h1 Configuration du compte administrateur

    .init-block
        form(ajax-func='initRequest')
            +inputEmail
            +inputNewPassword
            +inputRepeatPassword
            +inputToken

            button.button(type='submit')
                div
                    p Create Admin account
                    +svg-arrow-right

