extends shared/layout

block header

block content
    h1 Configuration du compte administrateur

    form(ajax-func='initRequest')
        +inputEmail
        +inputNewPassword
        +inputRepeatPassword
        +inputToken
        input(type='submit' value="Créer l'administrateur")

block footer
