extends shared/layout

block content

    h1 #{i18n.View.Init.Title()}

    .init-block
        form(ajax-func='initRequest')
            +inputEmail
            +inputNewPassword
            +inputRepeatPassword
            +inputToken

            button.button(type='submit')
                div
                    p #{i18n.View.Init.Btn_create_admin()}
                    +svg-arrow-right
