extends shared/layout

block content

    h1 Login

    .login-block
        form(ajax-func='login')
            +inputEmail
            +inputRequestPassword

            button.button(type='submit')
                div
                    p Login
                    +svg-arrow-right
