extends shared/layout

block content

    h1 #{i18n.View.Login.Title()}

    .login-block
        form(ajax-func='login')
            +inputEmail
            +inputRequestPassword

            button.button(type='submit')
                div
                    p #{i18n.View.Login.Btn_connect()}
                    +svg-arrow-right
