---
domain: {{ .Domain }}
port: {{ .Port }}
is_ip_v6: {{ .IsIPv6 }}
tab_prefix: "Vectra | "

roles:
  none: 0
  registered: 1
  admin: 2

access_rules:
  - { target: route, component: /, role: none }
  - { target: route, component: /init, role: none }
  - { target: route, component: /login, role: none }
  - { target: route, component: /sign, role: none }
  - { target: table, component: User, role: none }
  - { target: table, component: Role, role: admin }
