
mixin circle-orange()
    svg.circle-orange(width='24' height='24' viewBox='0 0 24 24')
        use(href='#circle')

mixin circle-green()
    svg.circle-green(width='24' height='24' viewBox='0 0 24 24')
        use(href='#circle')

mixin circle-red()
    svg.circle-red(width='24' height='24' viewBox='0 0 24 24')
        use(href='#circle')

mixin svg-check()
    svg(width='28', height='28', viewBox='0 0 28 28')
        use(href='#check')

mixin svg-locked()
    svg(width='28' height='34' viewBox='0 0 28 34' style='transform: scale(.7)')
        use(href='#locked')

mixin svg-person()
    svg(width='32' height='32' viewBox='0 0 32 32' style='transform: scale(.7)')
        use(href='#person')

mixin svg-arrow-left()
    svg(width='23' height='16' viewBox='0 0 23 16' style='transform: rotateY(180deg)')
        use(href='#arrow')

mixin svg-arrow-right()
    svg(width='23' height='16' viewBox='0 0 23 16')
        use(href='#arrow')

mixin svg-plus()
    svg(width='20' height='20' viewBox='0 0 20 20')
        use(href='#plus')

mixin svg-search()
    svg(width='29' height='30' viewBox='0 0 29 30')
        use(href='#search')

mixin svg-arrow-down()
    svg(width='16' height='9' viewbox='0 0 16 9')
        use(href='#arrow-down')
