package storage

import "encoding/gob"

type configuration struct {
	Version     string   `yaml:"version"`
	IsDev       bool     `yaml:"is_dev"`
	CssFiles    []string `yaml:"css_files"`
	JsFiles     []string `yaml:"js_files"`
	DevDomain   string   `yaml:"dev_domain"`
	Domain      string   `yaml:"domain"`
	AppName     string   `yaml:"app_name"`
	AppTitle    string   `yaml:"app_title"`
	TabPrefix   string   `yaml:"tab_prefix"`
	DefaultLang string   `yaml:"default_lang"`
	Langs       []string `yaml:"langs"`
	CurrentLang string

	Roles       map[string]int `yaml:"roles"`
	AccessRules []AccessRule   `yaml:"access_rules"`
}

{{ with .StorageTypes }}

func GobRegistration() {
{{ range . -}}
	gob.Register({{ .Name }}{})
{{ end -}}
}

{{ range . }}
type {{ .Name}} struct {
	DBObject
{{ range .Attributes -}}
	{{ .Name }} {{ .Type }}
{{ end -}}
}

func New{{ .Name }}() {{ .Name }} {
	obj := {{ .Name }}{}
	obj.IObject = obj
	return obj
}

func (o {{ .Name }}) ToString() string  { return ToString(o) }
func (o {{ .Name }}) TableName() string { return NameOfStruct[{{ .Name }}]() }
{{ end }}

{{ end }}
