
services:
  vectra:
    container_name: vectra
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "{{ .Port }}:{{ .Port }}"
    environment:
      - TZ=Europe/Paris
    volumes:
      - ./data/config:/app/data/config
      - ./data/db:/app/data/db
    restart: unless-stopped
