svg(style='height: 0')

    symbol#circle
        svg(width='24' height='24' viewBox='0 0 24 24')
            circle(cx='12' cy='12' r='12')

    symbol#locked
        svg(width='28' height='34' viewBox='0 0 28 34' fill='none')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M5 11.2815V9.189C5 6.7635 5.93825 4.4325 7.62125 2.70675C8.44982 1.85244 9.44115 1.17277 10.5367 0.707883C11.6323 0.242993 12.8099 0.00229553 14 0C15.1901 0.00229553 16.3677 0.242993 17.4633 0.707883C18.5588 1.17277 19.5502 1.85244 20.3787 2.70675C22.0632 4.44287 23.0036 6.76778 23 9.18675V11.2793C24.2379 11.4177 25.3813 12.0076 26.2116 12.9362C27.0418 13.8648 27.5005 15.0669 27.5 16.3125V28.6875C27.5 30.0302 26.9666 31.3178 26.0172 32.2672C25.0678 33.2166 23.7802 33.75 22.4375 33.75H5.5625C4.21984 33.75 2.93217 33.2166 1.98277 32.2672C1.03337 31.3178 0.5 30.0302 0.5 28.6875V16.3125C0.500038 15.0673 0.959016 13.8657 1.78919 12.9376C2.61936 12.0095 3.76248 11.4199 5 11.2815ZM10.0377 5.0625C10.5519 4.53073 11.1675 4.10742 11.848 3.81758C12.5286 3.52774 13.2603 3.37725 14 3.375C15.4782 3.375 16.9025 3.97575 17.9622 5.0625C19.022 6.14925 19.625 7.632 19.625 9.18675V11.25H8.375V9.18675C8.375 7.63425 8.978 6.14925 10.0377 5.0625ZM22.4375 14.625C22.8851 14.625 23.3143 14.8028 23.6307 15.1193C23.9472 15.4357 24.125 15.8649 24.125 16.3125V28.6875C24.125 29.1351 23.9472 29.5643 23.6307 29.8807C23.3143 30.1972 22.8851 30.375 22.4375 30.375H5.5625C5.11495 30.375 4.68572 30.1972 4.36926 29.8807C4.05279 29.5643 3.875 29.1351 3.875 28.6875V16.3125C3.875 15.8649 4.05279 15.4357 4.36926 15.1193C4.68572 14.8028 5.11495 14.625 5.5625 14.625H22.4375Z' fill='white')

    symbol#person
        svg(width='32' height='32' viewBox='0 0 32 32' fill='none')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M23.8652 15.3379C23.948 14.8965 23.9931 14.449 24 14V8C24 5.87827 23.1571 3.84344 21.6569 2.34315C20.1566 0.842855 18.1217 0 16 0C13.8783 0 11.8434 0.842855 10.3431 2.34315C8.84285 3.84344 8 5.87827 8 8V14C8.00694 14.449 8.05202 14.8965 8.13475 15.3379C3.29494 17.0566 3.52991e-07 20.2734 3.52991e-07 24V30C-0.000155757 30.2627 0.0514692 30.5228 0.151923 30.7656C0.252377 31.0083 0.39969 31.2288 0.585439 31.4146C0.771187 31.6003 0.991727 31.7476 1.23445 31.8481C1.47717 31.9485 1.73731 32.0002 2 32H30C30.2627 32.0002 30.5228 31.9485 30.7656 31.8481C31.0083 31.7476 31.2288 31.6003 31.4146 31.4146C31.6003 31.2288 31.7476 31.0083 31.8481 30.7656C31.9485 30.5228 32.0002 30.2627 32 30V24C32 20.2734 28.7051 17.0566 23.8652 15.3379ZM12 8C12 6.93913 12.4214 5.92172 13.1716 5.17157C13.9217 4.42143 14.9391 4 16 4C17.0609 4 18.0783 4.42143 18.8284 5.17157C19.5786 5.92172 20 6.93913 20 8V14C20 15.0609 19.5786 16.0783 18.8284 16.8284C18.0783 17.5786 17.0609 18 16 18C14.9391 18 13.9217 17.5786 13.1716 16.8284C12.4214 16.0783 12 15.0609 12 14V8ZM28 28H4V24C4 21.8399 6.30075 19.9629 9.72462 18.9062C11.1894 20.7774 13.4414 22 16 22C18.5586 22 20.8106 20.7774 22.2754 18.9062C25.6993 19.9629 28 21.8399 28 24V28Z' fill='white')

    symbol#arrow
        svg(width='23' height='16' viewBox='0 0 23 16')
            path(d='M1.9762 7C1.42391 7 0.976196 7.44772 0.976196 8C0.976196 8.55228 1.42391 9 1.9762 9L1.9762 7ZM21.7309 8.70711C22.1214 8.31658 22.1214 7.68342 21.7309 7.29289L15.367 0.928932C14.9764 0.538408 14.3433 0.538408 13.9527 0.928932C13.5622 1.31946 13.5622 1.95262 13.9527 2.34315L19.6096 8L13.9527 13.6569C13.5622 14.0474 13.5622 14.6805 13.9527 15.0711C14.3433 15.4616 14.9764 15.4616 15.367 15.0711L21.7309 8.70711ZM1.9762 9L21.0238 9V7L1.9762 7L1.9762 9Z')

    symbol#plus
        svg(width='20' height='20' viewBox='0 0 20 20')
            path(d='M1 10L19 10' stroke-width='2' stroke-linecap='round')
            path(d='M10 19V0.999999' stroke-width='2' stroke-linecap='round')

    symbol#search
        svg(width='29' height='30' viewBox='0 0 29 30' fill='none')
            path(d='M19.0862 19.6051L25.375 25.875M21.75 13.1875C21.75 18.1925 17.6925 22.25 12.6875 22.25C7.68241 22.25 3.625 18.1925 3.625 13.1875C3.625 8.18241 7.68241 4.125 12.6875 4.125C17.6925 4.125 21.75 8.18241 21.75 13.1875Z' stroke='white' stroke-opacity='0.5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

    symbol#check
        svg(width='28', height='28', viewBox='0 0 28 28')
            path(d='M4.6665 14.7129L10.4101 20.4166L23.3332 7.58331', stroke='white', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')

    symbol#arrow-down
        svg(width='16' height='9' viewbox='0 0 16 9')
            path(d='M7.29289 8.70711C7.68342 9.09763 8.31658 9.09763 8.70711 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928932C14.6805 0.538408 14.0474 0.538408 13.6569 0.928932L8 6.58579L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L7.29289 8.70711ZM7 7V8H9V7H7Z')
