svg(style='height: 0')

    symbol#circle
        svg(width='24' height='24' viewBox='0 0 24 24')
            circle(cx='12' cy='12' r='12')

    symbol#locked
        svg(width='28' height='34' viewBox='0 0 28 34' fill='none')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M5 11.2815V9.189C5 6.7635 5.93825 4.4325 7.62125 2.70675C8.44982 1.85244 9.44115 1.17277 10.5367 0.707883C11.6323 0.242993 12.8099 0.00229553 14 0C15.1901 0.00229553 16.3677 0.242993 17.4633 0.707883C18.5588 1.17277 19.5502 1.85244 20.3787 2.70675C22.0632 4.44287 23.0036 6.76778 23 9.18675V11.2793C24.2379 11.4177 25.3813 12.0076 26.2116 12.9362C27.0418 13.8648 27.5005 15.0669 27.5 16.3125V28.6875C27.5 30.0302 26.9666 31.3178 26.0172 32.2672C25.0678 33.2166 23.7802 33.75 22.4375 33.75H5.5625C4.21984 33.75 2.93217 33.2166 1.98277 32.2672C1.03337 31.3178 0.5 30.0302 0.5 28.6875V16.3125C0.500038 15.0673 0.959016 13.8657 1.78919 12.9376C2.61936 12.0095 3.76248 11.4199 5 11.2815ZM10.0377 5.0625C10.5519 4.53073 11.1675 4.10742 11.848 3.81758C12.5286 3.52774 13.2603 3.37725 14 3.375C15.4782 3.375 16.9025 3.97575 17.9622 5.0625C19.022 6.14925 19.625 7.632 19.625 9.18675V11.25H8.375V9.18675C8.375 7.63425 8.978 6.14925 10.0377 5.0625ZM22.4375 14.625C22.8851 14.625 23.3143 14.8028 23.6307 15.1193C23.9472 15.4357 24.125 15.8649 24.125 16.3125V28.6875C24.125 29.1351 23.9472 29.5643 23.6307 29.8807C23.3143 30.1972 22.8851 30.375 22.4375 30.375H5.5625C5.11495 30.375 4.68572 30.1972 4.36926 29.8807C4.05279 29.5643 3.875 29.1351 3.875 28.6875V16.3125C3.875 15.8649 4.05279 15.4357 4.36926 15.1193C4.68572 14.8028 5.11495 14.625 5.5625 14.625H22.4375Z' fill='white')

    symbol#person
        svg(width='32' height='32' viewBox='0 0 32 32' fill='none')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M23.8652 15.3379C23.948 14.8965 23.9931 14.449 24 14V8C24 5.87827 23.1571 3.84344 21.6569 2.34315C20.1566 0.842855 18.1217 0 16 0C13.8783 0 11.8434 0.842855 10.3431 2.34315C8.84285 3.84344 8 5.87827 8 8V14C8.00694 14.449 8.05202 14.8965 8.13475 15.3379C3.29494 17.0566 3.52991e-07 20.2734 3.52991e-07 24V30C-0.000155757 30.2627 0.0514692 30.5228 0.151923 30.7656C0.252377 31.0083 0.39969 31.2288 0.585439 31.4146C0.771187 31.6003 0.991727 31.7476 1.23445 31.8481C1.47717 31.9485 1.73731 32.0002 2 32H30C30.2627 32.0002 30.5228 31.9485 30.7656 31.8481C31.0083 31.7476 31.2288 31.6003 31.4146 31.4146C31.6003 31.2288 31.7476 31.0083 31.8481 30.7656C31.9485 30.5228 32.0002 30.2627 32 30V24C32 20.2734 28.7051 17.0566 23.8652 15.3379ZM12 8C12 6.93913 12.4214 5.92172 13.1716 5.17157C13.9217 4.42143 14.9391 4 16 4C17.0609 4 18.0783 4.42143 18.8284 5.17157C19.5786 5.92172 20 6.93913 20 8V14C20 15.0609 19.5786 16.0783 18.8284 16.8284C18.0783 17.5786 17.0609 18 16 18C14.9391 18 13.9217 17.5786 13.1716 16.8284C12.4214 16.0783 12 15.0609 12 14V8ZM28 28H4V24C4 21.8399 6.30075 19.9629 9.72462 18.9062C11.1894 20.7774 13.4414 22 16 22C18.5586 22 20.8106 20.7774 22.2754 18.9062C25.6993 19.9629 28 21.8399 28 24V28Z' fill='white')

    symbol#arrow
        svg(width='23' height='16' viewBox='0 0 23 16')
            path(d='M1.9762 7C1.42391 7 0.976196 7.44772 0.976196 8C0.976196 8.55228 1.42391 9 1.9762 9L1.9762 7ZM21.7309 8.70711C22.1214 8.31658 22.1214 7.68342 21.7309 7.29289L15.367 0.928932C14.9764 0.538408 14.3433 0.538408 13.9527 0.928932C13.5622 1.31946 13.5622 1.95262 13.9527 2.34315L19.6096 8L13.9527 13.6569C13.5622 14.0474 13.5622 14.6805 13.9527 15.0711C14.3433 15.4616 14.9764 15.4616 15.367 15.0711L21.7309 8.70711ZM1.9762 9L21.0238 9V7L1.9762 7L1.9762 9Z')

    symbol#plus
        svg(width='20' height='20' viewBox='0 0 20 20')
            path(d='M1 10L19 10' stroke-width='2' stroke-linecap='round')
            path(d='M10 19V0.999999' stroke-width='2' stroke-linecap='round')

    symbol#search
        svg(width='29' height='30' viewBox='0 0 29 30' fill='none')
            path(d='M19.0862 19.6051L25.375 25.875M21.75 13.1875C21.75 18.1925 17.6925 22.25 12.6875 22.25C7.68241 22.25 3.625 18.1925 3.625 13.1875C3.625 8.18241 7.68241 4.125 12.6875 4.125C17.6925 4.125 21.75 8.18241 21.75 13.1875Z' stroke='white' stroke-opacity='0.5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

    symbol#check
        svg(width='28', height='28', viewBox='0 0 28 28')
            path(d='M4.6665 14.7129L10.4101 20.4166L23.3332 7.58331', stroke='white', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')

    symbol#arrow-down
        svg(width='16' height='9' viewbox='0 0 16 9')
            path(d='M7.29289 8.70711C7.68342 9.09763 8.31658 9.09763 8.70711 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928932C14.6805 0.538408 14.0474 0.538408 13.6569 0.928932L8 6.58579L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L7.29289 8.70711ZM7 7V8H9V7H7Z')

    symbol#icon-theme-light
        path(d='M12,9c1.65,0,3,1.35,3,3s-1.35,3-3,3s-3-1.35-3-3S10.35,9,12,9 M12,7c-2.76,0-5,2.24-5,5s2.24,5,5,5s5-2.24,5-5 S14.76,7,12,7L12,7z M2,13l2,0c0.55,0,1-0.45,1-1s-0.45-1-1-1l-2,0c-0.55,0-1,0.45-1,1S1.45,13,2,13z M20,13l2,0c0.55,0,1-0.45,1-1 s-0.45-1-1-1l-2,0c-0.55,0-1,0.45-1,1S19.45,13,20,13z M11,2v2c0,0.55,0.45,1,1,1s1-0.45,1-1V2c0-0.55-0.45-1-1-1S11,1.45,11,2z M11,20v2c0,0.55,0.45,1,1,1s1-0.45,1-1v-2c0-0.55-0.45-1-1-1C11.45,19,11,19.45,11,20z M5.99,4.58c-0.39-0.39-1.03-0.39-1.41,0 c-0.39,0.39-0.39,1.03,0,1.41l1.06,1.06c0.39,0.39,1.03,0.39,1.41,0s0.39-1.03,0-1.41L5.99,4.58z M18.36,16.95 c-0.39-0.39-1.03-0.39-1.41,0c-0.39,0.39-0.39,1.03,0,1.41l1.06,1.06c0.39,0.39,1.03,0.39,1.41,0c0.39-0.39,0.39-1.03,0-1.41 L18.36,16.95z M19.42,5.99c0.39-0.39,0.39-1.03,0-1.41c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06c-0.39,0.39-0.39,1.03,0,1.41 s1.03,0.39,1.41,0L19.42,5.99z M7.05,18.36c0.39-0.39,0.39-1.03,0-1.41c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06 c-0.39,0.39-0.39,1.03,0,1.41s1.03,0.39,1.41,0L7.05,18.36z')

    symbol#icon-theme-dark
        path(d='M9.37,5.51C9.19,6.15,9.1,6.82,9.1,7.5c0,4.08,3.32,7.4,7.4,7.4c0.68,0,1.35-0.09,1.99-0.27C17.45,17.19,14.93,19,12,19 c-3.86,0-7-3.14-7-7C5,9.07,6.81,6.55,9.37,5.51z M12,3c-4.97,0-9,4.03-9,9s4.03,9,9,9s9-4.03,9-9c0-0.46-0.04-0.92-0.1-1.36 c-0.98,1.37-2.58,2.26-4.4,2.26c-2.98,0-5.4-2.42-5.4-5.4c0-1.81,0.89-3.42,2.26-4.4C12.92,3.04,12.46,3,12,3L12,3z')

    symbol#icon-flag-en
        path(fill='#bd3d44' d='M0 0h640v480H0')
        path(stroke='#fff' stroke-width='37' d='M0 55.3h640M0 129h640M0 203h640M0 277h640M0 351h640M0 425h640')
        path(fill='#192f5d' d='M0 0h364.8v258.5H0')
        marker#us-a(markerheight='30' markerwidth='30')
            path(fill='#fff' d='m14 0 9 27L0 10h28L5 27z')
        path(fill='none' marker-mid='url(#us-a)' d='m0 0 16 11h61 61 61 61 60L47 37h61 61 60 61L16 63h61 61 61 61 60L47 89h61 61 60 61L16 115h61 61 61 61 60L47 141h61 61 60 61L16 166h61 61 61 61 60L47 192h61 61 60 61L16 218h61 61 61 61 60L0 0')

    symbol#icon-flag-fr
        path(fill='#fff' d='M0 0h640v480H0z')
        path(fill='#000091' d='M0 0h213.3v480H0z')
        path(fill='#e1000f' d='M426.7 0H640v480H426.7z')


    symbol#vectra-banner
        svg(width='284' height='98' viewbox='0 0 284 98' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(filter='url(#filter0_f_2_55)')
                path(d='M39.3333 55.9998C39.3333 57.4725 40.5272 58.6664 42 58.6664C43.4728 58.6664 44.6667 57.4725 44.6667 55.9998C44.6667 54.527 43.4728 53.3331 42 53.3331C40.5272 53.3331 39.3333 54.527 39.3333 55.9998ZM140.333 71.9998C140.333 73.4725 141.527 74.6664 143 74.6664C144.473 74.6664 145.667 73.4725 145.667 71.9998C145.667 70.527 144.473 69.3331 143 69.3331C141.527 69.3331 140.333 70.527 140.333 71.9998ZM42 56.4998H72.5V55.4998H42V56.4998ZM77 60.9998V66.9998H78V60.9998H77ZM82.5 72.4998H143V71.4998H82.5V72.4998ZM77 66.9998C77 70.0373 79.4624 72.4998 82.5 72.4998V71.4998C80.0147 71.4998 78 69.4851 78 66.9998H77ZM72.5 56.4998C74.9853 56.4998 77 58.5145 77 60.9998H78C78 57.9622 75.5376 55.4998 72.5 55.4998V56.4998Z' fill='url(#paint0_linear_2_55)')
            g(filter='url(#filter1_f_2_55)')
                path(d='M58.3333 90.9998C58.3333 92.4725 59.5272 93.6664 61 93.6664C62.4728 93.6664 63.6667 92.4725 63.6667 90.9998C63.6667 89.527 62.4728 88.3331 61 88.3331C59.5272 88.3331 58.3333 89.527 58.3333 90.9998ZM198.333 80.9998C198.333 82.4725 199.527 83.6664 201 83.6664C202.473 83.6664 203.667 82.4725 203.667 80.9998C203.667 79.527 202.473 78.3331 201 78.3331C199.527 78.3331 198.333 79.527 198.333 80.9998ZM61 91.4998H99.9666V90.4998H61V91.4998ZM109.967 81.4998L201 81.4998V80.4998L109.967 80.4998V81.4998ZM105.467 85.9998C105.467 83.5145 107.481 81.4998 109.967 81.4998V80.4998C106.929 80.4998 104.467 82.9622 104.467 85.9998H105.467ZM99.9666 91.4998C103.004 91.4998 105.467 89.0373 105.467 85.9998H104.467C104.467 88.4851 102.452 90.4998 99.9666 90.4998V91.4998Z' fill='url(#paint1_linear_2_55)')
            g(filter='url(#filter2_f_2_55)')
                path(d='M140.333 40.4998C140.333 41.9725 141.527 43.1664 143 43.1664C144.473 43.1664 145.667 41.9725 145.667 40.4998C145.667 39.027 144.473 37.8331 143 37.8331C141.527 37.8331 140.333 39.027 140.333 40.4998ZM239.833 90.9998C239.833 92.4725 241.027 93.6664 242.5 93.6664C243.973 93.6664 245.167 92.4725 245.167 90.9998C245.167 89.527 243.973 88.3331 242.5 88.3331C241.027 88.3331 239.833 89.527 239.833 90.9998ZM143 40.9998H168.5V39.9998H143V40.9998ZM173 45.4998V85.9998H174V45.4998H173ZM178.5 91.4998H242.5V90.4998H178.5V91.4998ZM173 85.9998C173 89.0373 175.462 91.4998 178.5 91.4998V90.4998C176.015 90.4998 174 88.485 174 85.9998H173ZM168.5 40.9998C170.985 40.9998 173 43.0145 173 45.4998H174C174 42.4622 171.538 39.9998 168.5 39.9998V40.9998Z' fill='url(#paint2_linear_2_55)')
            path(d='M37.863 88.7592L1.70484 18.3211C0.926002 16.8039 2.02769 15 3.73313 15C4.59207 15 5.37812 15.4827 5.76657 16.2488L40.8392 85.4162C40.9787 85.6914 41.2611 85.8649 41.5697 85.8649C41.889 85.8649 42.1791 85.6794 42.3131 85.3896L74.2453 16.3437C74.6241 15.5244 75.4445 15 76.3471 15C78.0455 15 79.1661 16.7677 78.4414 18.3037L45.2622 88.6354C44.5812 90.079 43.1283 91 41.5321 91C39.9857 91 38.5693 90.1349 37.863 88.7592Z' fill='url(#paint3_linear_2_55)')
            path(d='M89.2727 62V15.4545H114.091V16.9091H90.7273V38H112.727V39.4545H90.7273V60.5455H114.727V62H89.2727ZM161.102 30H159.557C159.269 28.4545 158.708 26.8788 157.875 25.2727C157.042 23.6667 155.936 22.1818 154.557 20.8182C153.178 19.4545 151.549 18.3561 149.67 17.5227C147.792 16.6894 145.663 16.2727 143.284 16.2727C140.102 16.2727 137.155 17.1439 134.443 18.8864C131.746 20.6136 129.572 23.1515 127.92 26.5C126.284 29.8333 125.466 33.9091 125.466 38.7273C125.466 43.6061 126.284 47.7121 127.92 51.0455C129.572 54.3788 131.746 56.9015 134.443 58.6136C137.155 60.3258 140.102 61.1818 143.284 61.1818C145.663 61.1818 147.792 60.7727 149.67 59.9545C151.549 59.1212 153.178 58.0303 154.557 56.6818C155.936 55.3182 157.042 53.8333 157.875 52.2273C158.708 50.6061 159.269 49.0152 159.557 47.4545H161.102C160.814 49.0909 160.239 50.7955 159.375 52.5682C158.511 54.3258 157.345 55.9697 155.875 57.5C154.405 59.0303 152.625 60.2727 150.534 61.2273C148.443 62.1667 146.027 62.6364 143.284 62.6364C139.466 62.6364 136.11 61.6364 133.216 59.6364C130.322 57.6364 128.064 54.8409 126.443 51.25C124.822 47.6591 124.011 43.4848 124.011 38.7273C124.011 33.9697 124.822 29.7955 126.443 26.2045C128.064 22.6136 130.322 19.8182 133.216 17.8182C136.11 15.8182 139.466 14.8182 143.284 14.8182C146.027 14.8182 148.443 15.2879 150.534 16.2273C152.625 17.1667 154.405 18.4015 155.875 19.9318C157.345 21.447 158.511 23.0909 159.375 24.8636C160.239 26.6212 160.814 28.3333 161.102 30ZM169.534 16.9091V15.4545H200.989V16.9091H185.989V62H184.534V16.9091H169.534ZM212.148 62V15.4545H225.784C228.39 15.4545 230.693 16.0076 232.693 17.1136C234.708 18.2197 236.284 19.7651 237.42 21.75C238.572 23.7348 239.148 26.0606 239.148 28.7273C239.148 31.3636 238.572 33.6742 237.42 35.6591C236.284 37.6288 234.708 39.1667 232.693 40.2727C230.693 41.3636 228.39 41.9091 225.784 41.9091H212.875V40.4545H225.784C228.117 40.4545 230.178 39.9697 231.966 39C233.754 38.0303 235.155 36.6667 236.17 34.9091C237.186 33.1515 237.693 31.0909 237.693 28.7273C237.693 26.3485 237.186 24.2727 236.17 22.5C235.155 20.7273 233.754 19.3561 231.966 18.3864C230.178 17.4015 228.117 16.9091 225.784 16.9091H213.602V62H212.148ZM229.875 40.8182L241.33 62H239.693L228.239 40.8182H229.875ZM247.886 62H246.341L262.977 15.4545H264.977L281.614 62H280.068L264.068 17.2727H263.886L247.886 62ZM253.159 44.8182H274.795V46.2727H253.159V44.8182Z' fill='url(#paint4_linear_2_55)')
            defs
                filter#filter0_f_2_55(x='37.3333' y='51.3331' width='110.333' height='25.3333' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                    feflood(flood-opacity='0' result='BackgroundImageFix')
                        feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                            fegaussianblur(stddeviation='1' result='effect1_foregroundBlur_2_55')
                filter#filter1_f_2_55(x='54.3333' y='74.3331' width='153.333' height='23.3333' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                    feflood(flood-opacity='0' result='BackgroundImageFix')
                        feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                            fegaussianblur(stddeviation='2' result='effect1_foregroundBlur_2_55')
                filter#filter2_f_2_55(x='139.333' y='36.8331' width='106.833' height='57.8333' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                    feflood(flood-opacity='0' result='BackgroundImageFix')
                        feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                            fegaussianblur(stddeviation='0.5' result='effect1_foregroundBlur_2_55')
                lineargradient#paint0_linear_2_55(x1='143' y1='71.4664' x2='42.2171' y2='42.6247' gradientunits='userSpaceOnUse')
                    stop(stop-color='#DFEFFF')
                    stop(offset='0.598846' stop-color='#1BC3F9' stop-opacity='0.62')
                    stop(offset='1' stop-color='white' stop-opacity='0')
                lineargradient#paint1_linear_2_55(x1='203.007' y1='78.9164' x2='53.9835' y2='101.125' gradientunits='userSpaceOnUse')
                    stop(stop-color='#D7EBFE')
                    stop(offset='0.598846' stop-color='#0D98C4')
                    stop(offset='1' stop-color='#1B1B1B' stop-opacity='0.51')
                lineargradient#paint2_linear_2_55(x1='244' y1='92.4998' x2='200.591' y2='7.18082' gradientunits='userSpaceOnUse')
                    stop(stop-color='#DFEFFF')
                    stop(offset='0.598846' stop-color='#1BC3F9' stop-opacity='0.62')
                    stop(offset='1' stop-color='white' stop-opacity='0')
                lineargradient#paint3_linear_2_55(x1='4.26667' y1='67.3784' x2='79.9254' y2='58.5244' gradientunits='userSpaceOnUse')
                    stop(stop-color='#FF7B43')
                    stop(offset='0.527778' stop-color='#E34A9D')
                    stop(offset='1' stop-color='#95CCFF')
                lineargradient#paint4_linear_2_55(x1='207' y1='8.88461' x2='148.335' y2='84.9935' gradientunits='userSpaceOnUse')
                    stop(stop-color='#98CEFF')
                    stop(offset='0.394823' stop-color='#0091CF')
                    stop(offset='0.871528' stop-color='#FA67A5')
                    stop(offset='0.97303' stop-color='#FA7967')

